.item-list-container {
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 30px;
  text-align: center;
  background-color: #f5f5f5;
}

.item-list-container h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.item-list-container p {
  font-size: 1.1rem;
  color: #666;
}
